asgiref==3.8.1
certifi==2024.8.30
channels==4.2.0
channels-redis==4.2.0
charset-normalizer==3.4.0
Django==5.1.4
idna==3.10
requests==2.32.3
sqlparse==0.5.2
urllib3==2.2.3
websockets==12.0
sqlitedict==2.1.0
