# Git
.git
.gitignore
.gitattributes

# CI
.github

# Docker
docker-compose.yml
Dockerfile
.docker
.dockerignore

# Editor configs
.vscode

# Python configs
.python-version
venv
.venv

# Docs
docs/node_modules
docs/build

# Test binaries
tests/*/caddy
tests/*/venv

# Build artifacts
buildenv*
bin
*.dSYM
cmd/cli/target

# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]

# Local python builds
Python-3.12*

# Text files
LICENSE
README.md
