# Editor configs
.vscode

# Python configs
.python-version
venv
.venv

# Build artifacts
buildenv*
bin
*.dSYM
__pycache__
.coverage
coverage.out

# Local python builds
Python-3.12*
cmd/cli/*.egg-info
cmd/cli/dist
cmd/cli/caddysnake-cli
cmd/cli/dummy.*
cmd/cli/target
cmd/cli/build


# macOS
.DS_Store

# Sqlite
db.sqlite3
items.db
