# Editor configs
.vscode

# Python configs
.python-version
venv

# Build artifacts
buildenv*
bin
*.dSYM
__pycache__

# Local python builds
Python-3.12*
cmd/cli/*.egg-info
cmd/cli/dist
cmd/cli/caddysnake-cli
cmd/cli/dummy.*


# macOS
.DS_Store

# Django
db.sqlite3
