{
	http_port 9080
	https_port 9443
	log {
		level info
	}
}
localhost:9080 {
	python /item/* {
		module_asgi "main:app"
		lifespan on
		workers 1
		venv "./venv"
	}

	python /other/ {
		module_asgi "main:app"
		lifespan on
		workers 1
		venv "./venv"
	}

	python /stream-item/* {
		module_asgi "main:app"
		lifespan on
		workers 1
		venv "./venv"
	}

	python /stream/* {
		module_asgi "main:app"
		lifespan on
		workers 1
		venv "./venv"
	}

	route / {
		respond 404
	}
}
