{
	http_port 9080
	https_port 9443
	log {
		level info
	}
}
localhost:9080 {
	route /item/* {
		python {
			module_asgi "main:app"
			lifespan on
			venv "./venv"
		}
	}

	route /other/ {
		python {
			module_asgi "main:app"
			lifespan on
			venv "./venv"
		}
	}

	route /stream-item/* {
		python {
			module_asgi "main:app"
			lifespan on
			venv "./venv"
		}
	}

	route / {
		respond 404
	}
}
