{
	http_port 9080
	https_port 9443
	log {
		level info
	}
}
localhost:9080 {
	route /app1 {
		python "simple_app:main"
	}
	route /app2 {
		python {
			module_wsgi "example_flask:app"
			venv "./venv"
		}
	}
	route /app3 {
		python "simple_exception:main"
	}
	route /app4 {
		python {
			module_asgi "example_fastapi:app"
		}
	}
}
