---
    name: Go Tests
    on:
      pull_request:
        branches:
          - main
      push:
        branches:
          - main
    permissions:
      contents: write
    jobs:
      tests:
        strategy:
          fail-fast: false
          matrix:
            python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
            os: [ubuntu-24.04, ubuntu-24.04-arm]
        runs-on: ${{ matrix.os }}
        env:
          GOEXPERIMENT: cgocheck2
        steps:
          - uses: actions/checkout@v4
          - uses: actions/setup-go@v5
            with:
              go-version: '1.26'
              cache: false
          - name: Install Xcaddy
            run: go install github.com/caddyserver/xcaddy/cmd/xcaddy@latest
          - name: Set up Python ${{ matrix.python-version }}
            run: |
              export DEBIAN_FRONTEND=noninteractive
              sudo apt-get update -yyqq
              sudo apt-get install -yyqq software-properties-common
              sudo add-apt-repository -y ppa:deadsnakes/ppa
              sudo apt-get install -yyqq python${{ matrix.python-version }}-dev python${{ matrix.python-version }}-venv
              sudo mv /usr/lib/*-linux-gnu/pkgconfig/python-${{ matrix.python-version }}-embed.pc /usr/lib/*-linux-gnu/pkgconfig/python3-embed.pc
          - name: Install global python dependencies
            run: sudo pip install requests
          - name: Run module tests
            run: go test -race -v .
          - name: Update coverage report
            uses: ncruces/go-coverage-report@v0
            continue-on-error: true
          - name: Build the server
            run: CGO_ENABLED=1 xcaddy build --with github.com/mliezun/caddy-snake=.
          