---
    name: Go Tests
    on:
      pull_request:
        branches:
          - main
      push:
        branches:
          - main
    permissions:
      contents: write
    jobs:
      tests:
        runs-on: ubuntu-24.04
        strategy:
          fail-fast: false
          matrix:
            python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
        env:
          GOEXPERIMENT: cgocheck2
        steps:
          - uses: actions/checkout@v4
          - name: Set up Python and build server
            run: |
              bash scripts/setup-python-and-build.sh \
                --python-version ${{ matrix.python-version }} \
                --extra-packages "" \
                --build-caddy \
                --caddy-snake-path .
          - name: Install global python dependencies
            run: sudo pip install requests
          - name: Run module tests
            run: go test -race -v .
          - name: Update coverage report
            uses: ncruces/go-coverage-report@v0
            continue-on-error: true
          