---
name: Integration Tests Linux
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  tests:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        tool-name: ['django', 'django_channels', 'flask', 'fastapi', 'simple', 'simple_async', 'socketio']
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.13-nogil', '3.14']
    env:
      GOEXPERIMENT: cgocheck2
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python and build server ${{ matrix.python-version }}
        working-directory: tests/${{ matrix.tool-name }}/
        if: matrix.python-version != '3.13-nogil'
        run: |
          bash ../../scripts/setup-python-and-build.sh \
            --python-version ${{ matrix.python-version }} \
            --build-caddy \
            --caddy-snake-path ../..
          rm -rf venv
          python${{ matrix.python-version }} -m venv venv
          source venv/bin/activate
          pip install --upgrade pip setuptools wheel
          pip install -r requirements.txt
      - name: Set up Python (nogil) and build server
        working-directory: tests/${{ matrix.tool-name }}/
        if: matrix.python-version == '3.13-nogil'
        continue-on-error: true
        run: |
          bash ../../scripts/setup-python-and-build.sh \
            --python-version ${{ matrix.python-version }} \
            --extra-packages "curl" \
            --build-caddy \
            --caddy-snake-path ../..
          curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
          python${{ matrix.python-version }} -m venv --without-pip venv
          source venv/bin/activate
          echo $(which python)
          python get-pip.py
          pip install --upgrade pip setuptools wheel
          pip install -r requirements.txt
      - name: Run integration tests
        working-directory: tests/${{ matrix.tool-name }}/
        if: matrix.python-version != '3.13-nogil'
        run: |
          /usr/bin/time -v ./caddy run --config Caddyfile > caddy.log 2>&1 &
          timeout 60 bash -c 'while ! grep -q "finished cleaning storage units" caddy.log; do sleep 1; done'
          source venv/bin/activate
          python main_test.py
      - name: Run integration tests (nogil)
        working-directory: tests/${{ matrix.tool-name }}/
        if: matrix.python-version == '3.13-nogil' && matrix.tool-name != 'flask'
        continue-on-error: true
        run: |
          /usr/bin/time -v ./caddy run --config Caddyfile > caddy.log 2>&1 &
          source venv/bin/activate || true
          python main_test.py || true
      - name: Upload logs and report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: caddy-integration-tests-logs-${{ matrix.tool-name }}-${{ matrix.python-version }}
          path: |
            tests/${{ matrix.tool-name }}/caddy.log
