---
    name: Integration Tests Windows
    on:
      pull_request:
        branches:
          - main
      push:
        branches:
          - main
    jobs:
      tests:
        runs-on: windows-latest
        strategy:
          fail-fast: false
          matrix:
            tool-name: ['simple_async']
            python-version: ['3.14']
        steps:
          - uses: actions/checkout@v4
          - uses: actions/setup-go@v5
            with:
              go-version: '1.24'
              cache: false
          - name: Install Xcaddy
            run: go install github.com/caddyserver/xcaddy/cmd/xcaddy@latest
          - name: Set up Python
            uses: actions/setup-python@v5
            with:
              python-version: ${{ matrix.python-version }}
          - name: Install Python dependencies
            working-directory: tests/${{ matrix.tool-name }}/
            run: |
              python -m venv venv
              .\venv\Scripts\activate
              python -m pip install --upgrade pip
              pip install -r requirements.txt
            shell: pwsh
          - name: Build caddy
            working-directory: tests/${{ matrix.tool-name }}/
            run: |
              $env:CGO_ENABLED = "0"
              xcaddy build --with github.com/mliezun/caddy-snake=../..
            shell: pwsh
          - name: Run integration tests
            working-directory: tests/${{ matrix.tool-name }}/
            run: |
              touch caddy.log
              Start-Process -FilePath "cmd.exe" -ArgumentList "/c", ".\caddy.exe run --config Caddyfile > caddy.log 2>&1"
              $timeout = 60
              while ($timeout -gt 0 -and -not (Select-String "finished cleaning storage units" -Path "caddy.log")) {
                Start-Sleep -Seconds 1
                $timeout -= 1
              }
              .\venv\Scripts\activate
              python main_test.py
            shell: pwsh
          - name: Upload logs and report
            if: always()
            uses: actions/upload-artifact@v4
            with:
              name: caddy-logs-${{ matrix.tool-name }}-${{ matrix.python-version }}
              path: |
                tests/${{ matrix.tool-name }}/caddy.log
