---
    name: Leak Tests Linux
    on:
      pull_request:
        branches:
          - main
      push:
        branches:
          - main
    jobs:
      tests:
        runs-on: ubuntu-24.04
        strategy:
          fail-fast: false
          matrix:
            tool-name: ['django', 'socketio']
            python-version: ['3.13']
        env:
          GOEXPERIMENT: cgocheck2
        steps:
          - uses: actions/checkout@v4
          - name: Set up Clang
            uses: egor-tensin/setup-clang@v1
            with:
              version: latest
              platform: x64
          - name: Set up Python and build server ${{ matrix.python-version }}
            working-directory: tests/${{ matrix.tool-name }}/
            run: |
              export CC=clang
              export CGO_ENABLED=1
              export CGO_CFLAGS="-fsanitize=address"
              export XCADDY_GO_BUILD_FLAGS="-asan"
              bash ../../scripts/setup-python-and-build.sh \
                --python-version ${{ matrix.python-version }} \
                --build-caddy \
                --caddy-snake-path ../..
              rm -rf venv
              python${{ matrix.python-version }} -m venv venv
              source venv/bin/activate
              pip install --upgrade pip setuptools wheel
              pip install -r requirements.txt
          - name: Run leak integration tests
            working-directory: tests/${{ matrix.tool-name }}/
            run: |
              /usr/bin/time -v ./caddy run --config Caddyfile > caddy.log 2>&1 &
              timeout 60 bash -c 'while ! grep -q "finished cleaning storage units" caddy.log; do sleep 1; done'
              source venv/bin/activate
              python main_test.py
          - name: Upload logs and report
            if: always()
            uses: actions/upload-artifact@v4
            with:
              name: caddy-leak-tests-logs-${{ matrix.tool-name }}-${{ matrix.python-version }}
              path: |
                tests/${{ matrix.tool-name }}/caddy.log
