---
    name: Leak Tests Linux
    on:
      pull_request:
        branches:
          - main
      push:
        branches:
          - main
    jobs:
      tests:
        runs-on: ubuntu-24.04
        strategy:
          fail-fast: false
          matrix:
            tool-name: ['django', 'socketio']
            python-version: ['3.13']
            architecture: ['x86_64', 'arm64']
        env:
          GOEXPERIMENT: cgocheck2
        steps:
          - uses: actions/checkout@v4
          - name: Set up Clang
            uses: egor-tensin/setup-clang@v1
            with:
              version: latest
              platform: x64
          - uses: actions/setup-go@v5
            with:
              go-version: '1.25'
              cache: false
          - name: Install Xcaddy
            run: go install github.com/caddyserver/xcaddy/cmd/xcaddy@latest
          - name: Set up QEMU
            if: matrix.architecture == 'arm64'
            uses: docker/setup-qemu-action@v3
            with:
              platforms: arm64
          - name: Set up Python ${{ matrix.python-version }}
            working-directory: tests/${{ matrix.tool-name }}/
            run: |
              export DEBIAN_FRONTEND=noninteractive
              sudo apt-get update -yyqq
              sudo apt-get install -yyqq software-properties-common valgrind time
              sudo add-apt-repository -y ppa:deadsnakes/ppa
              sudo apt-get install -yyqq python${{ matrix.python-version }}-dev python${{ matrix.python-version }}-venv
              if [ "${{ matrix.architecture }}" = "x86_64" ]; then
                sudo mv /usr/lib/x86_64-linux-gnu/pkgconfig/python-${{ matrix.python-version }}-embed.pc /usr/lib/x86_64-linux-gnu/pkgconfig/python3-embed.pc
              fi
              rm -rf venv
              python${{ matrix.python-version }} -m venv venv
              source venv/bin/activate
              pip install -r requirements.txt
          - name: Build the server
            working-directory: tests/${{ matrix.tool-name }}/
            run: |
              export CC=clang
              export CGO_ENABLED=1
              export CGO_CFLAGS="-fsanitize=address"
              export XCADDY_GO_BUILD_FLAGS="-asan"
              xcaddy build --with github.com/mliezun/caddy-snake=../..
          - name: Run leak integration tests
            working-directory: tests/${{ matrix.tool-name }}/
            run: |
              /usr/bin/time -v ./caddy run --config Caddyfile > caddy.log 2>&1 &
              timeout 60 bash -c 'while ! grep -q "finished cleaning storage units" caddy.log; do sleep 1; done'
              source venv/bin/activate
              python main_test.py
          - name: Upload logs and report
            if: always()
            uses: actions/upload-artifact@v4
            with:
              name: caddy-leak-tests-logs-${{ matrix.tool-name }}-${{ matrix.python-version }}-${{ matrix.architecture }}
              path: |
                tests/${{ matrix.tool-name }}/caddy.log
