---
name: Lint
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  build:
    name: Lint
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.26'
          cache: false
      - name: Check pre-commit
        uses: pre-commit/action@v3.0.0
      - name: Go vet
        run: |
          go vet .
