name: Python Build Package - Linux
on:
  push:
    tags: [ 'v*.*.*' ]
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
        os: [ubuntu-22.04, ubuntu-22.04-arm]
    runs-on: ${{ matrix.os }}
    env:
      GOEXPERIMENT: cgocheck2
    steps:
      - uses: actions/checkout@v4
      - name: Choose architecture
        id: choose-arch
        run: |
          if [ "${{ matrix.os }}" == "ubuntu-22.04-arm" ]; then
            DOCKER_PLATFORM=linux/arm64
          else
            DOCKER_PLATFORM=linux/amd64
          fi
          echo "DOCKER_PLATFORM=${DOCKER_PLATFORM}" >> $GITHUB_OUTPUT
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@f95db51fddba0c2d1ec667646a06c2ce06100226
      - name: Build Caddy with caddy-snake module
        run: |
          docker build -f builder.Dockerfile --platform ${{ steps.choose-arch.outputs.DOCKER_PLATFORM }} --build-arg PY_VERSION=${{ matrix.python-version }} -t caddy-snake-builder .
          docker run --rm -v $(pwd):/output caddy-snake-builder
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Build the CLI
        run: |
          mv caddy cmd/cli/caddysnake-cli
          cd cmd/cli/
          python${{ matrix.python-version }} -m pip install maturin
          python${{ matrix.python-version }} -m maturin build --release
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: caddysnake-cli-${{ matrix.python-version }}-${{ matrix.os }}
          path: cmd/cli/target/wheels/*.whl
      - name: Publish package
        run: |
          cd cmd/cli/target/wheels
          python${{ matrix.python-version }} -m pip install twine
          python${{ matrix.python-version }} -m twine upload \
            --username __token__ \
            --password ${{ secrets.PYPI_API_TOKEN }} \
            cmd/cli/target/wheels/*.whl
